<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title >Insumos</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="{{insumos.imagem}}" class="card"alt="" />
    <ion-card-header>
      <ion-card-subtitle>Nome: {{insumos.nome}}</ion-card-subtitle>
      <ion-card-title>Estoque: {{insumos.estoque}}</ion-card-title>
      <ion-label>Preço: {{insumos.preco | currency:'BRL'}}</ion-label>
    </ion-card-header>
    <ion-card-content>
      <ion-label>Descrição do serviço:</ion-label>
      <p>{{insumos.descricao}}</p>
    </ion-card-content>
  </ion-card>
  <ion-button expand="full" fill="clear" size="small" color="dark" type="block" (click)="carrinho()">Adicionar no carrinho</ion-button>
</ion-content>