<ion-header>
    <ion-toolbar color="warning">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="title">Cupom</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>

    
<ion-list>
<ion-list-header class="informacoes">INFORMAÇÕES</ion-list-header>
<ion-item no-lines>
  <div>Pedido até R$20,00</div>
  <ion-note class="pontuacao" item-end>5 pontos</ion-note>
</ion-item>
<ion-item no-lines>
  <div>Pedido de R$20,00 a R$35,00</div>
  <ion-note class="pontuacao" item-end>10 pontos</ion-note>
</ion-item>
<ion-item no-lines>
  <div>Pedido de R$35,00 a R$50,00</div>
  <ion-note class="pontuacao" item-end>20 pontos</ion-note>
</ion-item>
<ion-item no-lines>
  <div>Pedido de R$50,00 a R$70,00</div>
  <ion-note class="pontuacao" item-end>30 pontos</ion-note>
</ion-item>
<ion-item no-lines>
  <div>Pedido de R$70,00 a R$100,00</div>
  <ion-note class="pontuacao" item-end>45 pontos</ion-note>
</ion-item>
<ion-item no-lines>
  <div>Pedido acima de R$100,00</div>
  <ion-note class="pontuacao" item-end>70 pontos</ion-note>
</ion-item>
</ion-list>


<ion-list>
		<ion-list-header class="informacoes">Prêmios possíveis:</ion-list-header>
		<ion-item no-lines>
			<div>Cupom Desconto 10%</div>
			<ion-note class="pontuacao" item-end>De 55 a 85 pontos</ion-note>
		</ion-item>
		<ion-item no-lines>
			<div>Cupom Entrega Grátis ou Cupom Desconto R$5,00</div>
			<ion-note class="pontuacao" item-end>De 85 a 110 pontos:</ion-note>
		</ion-item>
		<ion-item no-lines>
			<div>Cupom Desconto R$10,00</div>
			<ion-note class="pontuacao" item-end>De 110 a 220 pontos</ion-note>
		</ion-item>
		<ion-item no-lines>
			<div>Cupom 30% Desconto</div>
			<ion-note class="pontuacao" item-end>Acima de 220 pontos</ion-note>
		</ion-item>
	</ion-list>

	
	<br>
	<ion-item text-center>
		<div>Você só poderá resgatar prêmios a partir de <span class="pontuacao">55 pontos acumulados.</span></div>
		<div>Os prêmios variam de acordo com a quantidade de pontos acumulados.</div>
	</ion-item>
</ion-content>
