<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">Faq</ion-title>
  </ion-toolbar>
</ion-header>

  
  <ion-content>
  
     <p><ion-card-title>Perguntas Frequentes </ion-card-title></p>
  
      <ion-card-title> 1.Como faço para usar WS ?</ion-card-title>
        
       <p>  Para começar primeiro você precisa baixar o app, que está disponível para Android . Depois disso é só fazer um cadastro 
        rápido através do seu celular. Pronto, agora é só escolher o que você quer. Navegando pelo aplicativo você encontra os produtos
         que deseja, coloca tudo na cestinha e finaliza o pedido. Depois é só esperar o tempo previsto. </p>
  
      <ion-card-title> 2.A minha cidade já tem WS ?</ion-card-title>
        
      <p>   WS já está presente em 10 cidades brasileiras. São elas: São Paulo, Campinas, Rio de Janeiro, Belo Horizonte, Porto Alegre, Curitiba, 
        Brasília, Salvador, Recife e Fortaleza. Em breve, vamos iniciar nossas operações também em Ribeirão Preto, Florianópolis e Goiânia</p>
  
       <ion-card-title>  3.Quando eu cancelo um pedido, é cobrada taxa de cancelamento ?</ion-card-title>
           
      <p>   Quando você escolhe cancelar um pedido, o aplicativo te avisa sobre as políticas de cancelamento. Se o pedido já tiver sido aceito pelo 
        estabelecimento, infelizmente temos que te cobrar tanto o valor do produto quanto o frete. Caso a cobrança não seja necessária, o dinheiro será estornado para você.</p>
  
       <ion-card-title>    4.Meu pedido atrasou. O que eu posso fazer?</ion-card-title>    
      
      <p>   Lamentamos que seu pedido tenha atrasado. Enquanto ele estiver ativo, você pode entrar em contato conosco diretamente no chat do suporte, 
        e te ajudaremos a resolver a questão. Outra alternativa é abrir uma solicitação pela central de ajuda do aplicativo.</p>
  
       <ion-card-title>    5.Meu pedido veio errado, faltando, aberto ou danificado. O que eu posso fazer?</ion-card-title>         
           
      <p>   Em primeiro lugar, lamentamos que você tenha passado por isso. Vamos te ajudar: tire uma foto do produto danificado e mande uma mensagem 
        para a nossa central de atendimento contando detalhes do que aconteceu. Entraremos em contato o mais rápido possível para resolver a situação.</p>
        
  
     
        
  </ion-content>
  