<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">Programa de Fidelidade</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <h1>Regulamento</h1>
        
    <h2>PRINCIPAIS INFORMAÇÕES DO PROGRAMA</h2>

    <p>
        Lorem ipsum etiam faucibus curae inceptos fames conubia purus nullam molestie, sagittis ipsum nulla fermentum faucibus potenti class ultrices malesuada, inceptos senectus auctor aenean ipsum dictumst luctus a mollis. 
        pellentesque litora ante purus consequat primis condimentum aenean, posuere eget imperdiet ligula odio phasellus vel curabitur, varius duis potenti habitasse vulputate consectetur. 
        dictumst cubilia euismod donec ullamcorper vestibulum primis dapibus vivamus egestas, fringilla purus justo porttitor sit interdum aptent purus, mauris elit dictumst ipsum placerat habitant arcu urna. 
        tempor eget senectus auctor tempus rhoncus volutpat donec hendrerit vel hac, porta non quisque primis convallis egestas velit consectetur etiam, augue hac primis vivamus lectus class interdum nunc iaculis. 
        </p>
        <p>
        Ornare quam erat neque vitae placerat auctor nulla nullam curae commodo, blandit habitasse dictum in venenatis molestie egestas phasellus ut litora vel, pretium placerat sem eros neque fringilla leo sociosqu diam. 
        inceptos a ante mauris massa ipsum nostra praesent ad vestibulum at, duis varius vivamus phasellus platea sem elit turpis class, torquent malesuada sapien taciti ullamcorper aliquet blandit imperdiet sit. 
        habitasse pellentesque est platea leo tellus fames, aliquam aenean porta rhoncus felis, commodo auctor est conubia gravida aptent, non sed imperdiet mauris. 
        rhoncus torquent vestibulum libero curabitur eros congue aptent aenean, pretium vitae condimentum odio pretium ultricies praesent amet, semper fames justo duis neque semper risus. 
        </p>        
        <p>
        Nulla platea sapien cras euismod ad urna dapibus accumsan cursus, curae malesuada sodales eu et vehicula gravida vulputate viverra, eu netus erat sociosqu hac nulla nec posuere. 
        litora dolor curabitur laoreet fringilla habitant etiam lectus a iaculis, risus proin malesuada laoreet curabitur fermentum elit placerat, lobortis tempor lorem hendrerit magna fermentum quisque auctor. 
        at sem arcu sit vehicula justo auctor ut tellus blandit, odio facilisis dictum accumsan vitae phasellus magna pulvinar molestie, litora integer tortor tincidunt fermentum etiam non magna. 
        enim auctor curabitur dapibus etiam donec tristique nostra proin, etiam tincidunt purus integer nisl a. 
        </p>
      
        <p> E então ? Vamos participar ?</p>
        
        <button type="button" class="btn btn-danger" ng-click="ProgramaFidelidade('R')">Recusar</button>
        <button type="button" class="btn btn-success" ng-click="PogramaFidelidade('A')">Participar</button>

                

      </ion-content>
   


