<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <img src="/assets/icon/logo.png" alt="" />
  <ion-list>
    <ion-item>
      <ion-label fixed color="dark">E-mail</ion-label>
      <ion-input type="text" value="" [(ngModel)]="email"></ion-input>
      <ion-icon name="mail" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label fixed color="dark">Senha</ion-label>
      <ion-input type="password" [(ngModel)]="senha"></ion-input>
      <ion-icon name="lock" slot="end"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-button expand="block" color="warning" size="default" style="color: black;" (click)="login()" class="outline">Entrar
  </ion-button>
  <ion-button expand="block" color="warning" size="default" style="color: black;" (click)="goNovaSenha()" class="outline">
    Esqueci a senha</ion-button>

  <p>Ainda não tem uma conta?</p><u style="color: blue;" (click)="goNovoUsuario()">Criar agora!</u>
</ion-content>