<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title >Utensílios</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>
    <ion-card class="welcome-card">
        <img src="{{utensilios.imagem}}" alt="" />
        <ion-card-header>
          <ion-card-subtitle>Produto: {{utensilios.nome}}</ion-card-subtitle>
          <ion-card-title>Estoque: {{utensilios.estoque}}</ion-card-title>
          <ion-label>Preço: {{utensilios.preco | currency:'BRL'}}</ion-label>
        </ion-card-header>
        <ion-card-content>
          <ion-label>Descrição do produto:</ion-label>
          <p>{{utensilios.descricao}}</p>
        </ion-card-content>
      </ion-card>
      <ion-button expand="full" fill="clear" size="small" color="dark" type="block" (click)="carrinho()">Adicionar no carrinho</ion-button>
</ion-content>
