<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <img src="/assets/icon/logo.png" alt="" />
  <h2 style="color:#FFFFFF;font-weight:lighter;text-align:center;">
    Insumos Alimentícios
  </h2>
  <div style="width:auto">
  <ion-button expand="block" color="light" size="default" style="color: black;" (click)="goLogin()" class="outline">Entrar</ion-button>
  <ion-button expand="block" color="light" size="default" style="color: black;" (click)="goNovoUsuario()" class="outline">Cadastrar</ion-button>
  </div>
  <ion-footer class="footer">
        <ion-title color="light">Wooden Spoon © 2019</ion-title>
    </ion-footer>
</ion-content>
