<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/icon/logo.png" alt="" />
    <ion-card-header>
      <ion-card-subtitle>TPontocom</ion-card-subtitle>
      <p>
        App desenvolvido para servir como forma de divulgação dos serviços do grupo TPontocom, complementando as outras
        plataformas oficiais como
        o website www.tpontocom.com.
      </p>
      <ion-card-title>História do ex-hacker mais famoso do Brasil</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Timótheo é um notório ex-hacker que tem a sua vida retratada no livro TPontocom a vida glamourosa de um
        ex-hacker, biografia que irá virar filme, previsto para 2020. Após uma vida agitada, Timótheo decidiu formar uma
        equipe de experts e criar a empresa TPontocom (empresa especializada em segurança e soluções digitais). Hoje, o
        ex-hacker é foco na mídia nacional, tendo participado de inúmeros programas, além de ter apoiado, desenvolvido e
        gerenciado projetos para o Senado Federal. Hoje a empresa conta com um portfólio com clientes nacionais e
        internacionais.

        A vida não parecia promissora para o jovem Timótheo Programador, garoto quieto que era constantemente vítima de
        bullying durante a sua infância. O menino do Rio - Campo Grande passou a viver na zona oeste a dedicar a sua
        atenção ao estudo de tecnologia em meados de 2001.

        Na internet, Timótheo começava a descobrir a sua verdadeira vocação. Ele também descobriu que na internet ele
        poderia ser quem quisesse ser, podendo assumir qualquer identidade e com o conhecimento certo, ele poderia
        conquistar coisas que até então não passavam de sonhos.

        Já em 2002, Timótheo iniciou seus primeiros ataques, ganhando cada vez mais know-how, seus primeiros fãs,
        seguidores e também inimigos. Em menos de dois anos, foi considerado pelos principais grupos hackers como o
        maior hacker daquele momento, título que conquistou por ter realizado diversos ataques DDOS e invasões contra
        grandes empresas, indústrias e governos de diversos países.

        Nesse momento, Daniel descobre os prazeres do dinheiro fácil e de uma vida de excessos, que não duraria muito,
        pois em 2005 foi preso pela polícia federal na então chamada operação pontocom. No mesmo ano, ainda menor de
        idade, foi sequestrado por agentes da polícia civil, extorquido e agredido psicologicamente.

        Timótheo descobriu muito cedo, que assim como a internet é capaz de eliminar as fronteiras e promover a inclusão
        social, ela também pode ser utilizada para fins não tão nobres e com duras consequências.

        Após sua passagem pelo submundo da elite dos hackers e por ter ido do céu ao inferno, Daniel resolve dar um novo
        norte para a sua vida.

        Entre os anos de 2006 e 2013, frequentou diversas cadeiras acadêmicas ao cursar Direito, Relações Públicas,
        Publicidade e Propaganda e Análise de Sistemas.

        Em 2011 Graças a ajuda de sua família torna-se empresário.

        Em 2014, lançou o livro autobiográfico Tpontocom pela editora Idea com autoria da jornalista Sandra Rossi.

        Em 2015, Com a boa aceitação do livro, Daniel passa a conceber entrevistas e discutir sobre o tema. Ainda em
        2015 inicia palestras para faculdades e empresas privadas.

        Hoje, utiliza seus conhecimentos adquiridos durante seus anos como um notório hacker brasileiro, prestando
        consultoria para empresas privadas na área de segurança digital, também trabalha no desenvolvimento de
        aplicativos de alta tecnologia de sua autoria e presta palestras por todo o país para empresas e faculdades.</p>
    </ion-card-content>
  </ion-card>

</ion-content>